#!jinja2
[cylc]
    UTC mode = True 
    # Timeout handlers
    [[events]]
        timeout = P1D

[scheduling]
    [[dependencies]]
        graph = """
{%- if BUILD == true %}
        fcm_make => fcm_make2 => \ 
{%- endif %}
        optclim_prerun => recon => atmos => optclim_postrun 
        """
        
[runtime]
# Root, inherited by everything
    [[root]]
        init-script = """
export CYLC_VERSION={{CYLC_VERSION}}
export ROSE_VERSION={{ROSE_VERSION}}
"""
        script = "rose task-run --verbose"
        [[[events]]]
            # Cylc has sensible defaults for event notification- only add
            # to the entry below if you want to be notified by mail
            mail events = submission failed, submission timeout, submission retry, retry, failed, timeout
            submission timeout = P1D # 1 day
        [[[environment]]]
            CUMFDIR=$CYLC_TASK_WORK_PATH
            DATAW=$CYLC_TASK_WORK_PATH
            DATAM=$CYLC_TASK_WORK_PATH
            INPUT_DATA=$UMDIR/standard_jobs/inputs/vn{{VN}}
            ROSE_ORIG_HOST={{ ROSE_ORIG_HOST }}
            VN = {{ VN }}
            DATASHR=$CYLC_TASK_WORK_PATH/../../../share
            SRCSHR={{ OPT_SOURCE_SHARE }}
            OPTCLIM_RUNDIR={{ OPTCLIM_RUNDIR }}
            OPTCLIM_STUDY_DIR={{ OPTCLIM_STUDY_DIR }}
            OPTCLIM_RUN={{ OPTCLIM_RUN }}

     [[HPC_ALL]] 
        pre-script = """
                     module load cce/12.0.3
                     module swap craype-network-ofi craype-network-ucx
                     module swap cray-mpich cray-mpich-ucx
                     module use /work/y07/shared/umshared/moci/modules/modules; module load GC3-PrgEnv/2.0/2021.12.15;
                     module load atp
                     module list 2>&1
                     unset OMP_NUM_THREADS
                     """
        [[[directives]]]
            --export = none
            --chdir = /work/n02/n02/{{ HPC_USER }}
            --account = {{ HPC_ACCOUNT }}
        [[[job]]]
            batch system = slurm
        [[[remote]]]
            host = {{ HPC_HOST }}
            owner = {{ HPC_USER }}
     [[HPC]]
        inherit = None, HPC_ALL
        [[[directives]]]
            --partition = standard
            --qos = {{ HPC_QUEUE }}

     [[HPC_SERIAL]]
        inherit = None, HPC_ALL
        [[[environment]]]
            ROSE_TASK_N_JOBS = 6
        [[[job]]]
            execution time limit = PT30M
        [[[directives]]]
            --partition=serial
            --qos=serial
            --ntasks=6
            --nodes = 1
            --cpus-per-task = 1

    [[LINUX]]
        [[[remote]]]
            host = {{ ROSE_ORIG_HOST }}
        [[[job]]]
            batch system = background

# UM high OpenMP
    # Extract, Mirror
    [[fcm_make]]
        inherit = LINUX
        [[[environment]]]
            PREBUILD = 
            ROSE_TASK_OPTIONS = --ignore-lock

    # Pre-process, Build
    [[fcm_make2]]
        inherit = HPC_SERIAL
        [[[job]]]
            execution time limit = PT20M
        [[[directives]]]
            --ntasks=6
            --mem=8G
            --time=02:00:00

        [[[environment]]]
            UM_INSTALL_DIR  = /work/y07/shared/umshared
            PREBUILD =
            ROSE_TASK_N_JOBS = 1
            ROSE_TASK_OPTIONS = --ignore-lock

    [[UM_PARALLEL]]
        [[[environment]]]
            ROSE_LAUNCHER = srun

    # Reconfiguration 
    [[recon]]
        inherit = HPC, UM_PARALLEL
        [[[job]]]
            execution time limit = PT20M
        [[[directives]]]
            --nodes = 1
            --ntasks = 24 
            --tasks-per-node = 128
            --cpus-per-task = 1
        [[[environment]]]
            UM_INSTALL_DIR  = /work/y07/shared/umshared
            ROSE_TASK_APP = um
            ASTART=../recon/atmos.astart
            RCF_NPROCX = 4 
            RCF_NPROCY = 6 
            OMP_NUM_THREADS = 1
            ROSE_LAUNCHER_PREOPTS = --cpu-bind=cores

    # Atmosphere Model Run 
    [[atmos]]
       inherit = HPC, UM_PARALLEL
       [[[job]]]
           execution time limit = PT20M
       [[[directives]]]
           --nodes = 1
           --ntasks = 128
           --tasks-per-node = 128
           --cpus-per-task = 1
       [[[environment]]]
          UM_INSTALL_DIR  = /work/y07/shared/umshared
          ROSE_TASK_APP    = um
          ASTART=../recon/atmos.astart
          UM_ATM_NPROCX = 8
          UM_ATM_NPROCY = 16
          FLUME_IOS_NPROC = 0
          OMP_NUM_THREADS = 1
          ROSE_LAUNCHER_PREOPTS = --hint=nomultithread --distribution=block:block

    [[optclim_prerun]]
        inherit = HPC_SERIAL
        script = """
             #env
            echo PRE:  DATASHR  ${DATASHR}
            echo PRE:  SRCSHR  ${SRCSHR}
            mkdir -p $DATASHR/fcm_make/extract/um/bin
            rsync -rv $SRCSHR/fcm_make/extract/um/bin/* $DATASHR/fcm_make/extract/um/bin
            mkdir -p $DATASHR/fcm_make/build-recon/bin
            rsync -rv $SRCSHR/fcm_make/build-recon/bin/* $DATASHR/fcm_make/build-recon/bin
            mkdir -p $DATASHR/fcm_make/build-atmos/bin
            rsync -rv $SRCSHR/fcm_make/build-atmos/bin/* $DATASHR/fcm_make/build-atmos/bin
            #edit namelist
            echo ln -s ${CYLC_SUITE_RUN_DIR}/app ${OPTCLIM_RUNDIR}/app
            ln -s ${CYLC_SUITE_RUN_DIR}/app ${OPTCLIM_RUNDIR}/app
            cd ${OPTCLIM_RUNDIR}
            
            echo edit namelists now....
        """
        [[[job]]]
            execution time limit = PT20M
        [[[directives]]]
            --ntasks=1
            --mem=4G
            --time=00:10:00

        [[[environment]]]
            ROSE_TASK_APP    = optpre
            PREBUILD =
            ROSE_TASK_N_JOBS = 1
            ROSE_TASK_OPTIONS = --ignore-lock

    [[optclim_postrun]]
        inherit = HPC_SERIAL
        script = """
            echo POST  ${OPTCLIM_RUNDIR}/optclim_finished
            ls -l ${OPTCLIM_RUNDIR}/optclim_finished
            chmod +x  ${OPTCLIM_RUNDIR}/optclim_finished
            ${OPTCLIM_RUNDIR}/optclim_finished
            ln -s $PWD ${OPTCLIM_RUNDIR}/my_cylc_link 
            echo "FINISHED" > ${OPTCLIM_RUNDIR}/state
        """
        [[[job]]]
            execution time limit = PT20M
        [[[directives]]]
            --ntasks=1
            --mem=4G
            --time=00:10:00

        [[[environment]]]
            ROSE_TASK_APP    = optpost
            PREBUILD =
            ROSE_TASK_N_JOBS = 1
            ROSE_TASK_OPTIONS = --ignore-lock



