[meta]
   title = "OptClim Run Launcher"
[cylc]
    UTC mode = True
[scheduling]
    initial cycle point = now
    final cycle point = now+PT30M
    [[dependencies]]
        [[[PT1M]]]
           graph = "@wall_clock => getruns => launchruns"
[runtime]
    [[getruns]]
       script = """
RUNS='zd001 zd002'
# $(getOptClimRun.py /scratch/mhagdorn/optclim/Test)
cylc broadcast $CYLC_SUITE_NAME -s "[environment]LRUNS=${RUNS}"
"""
    [[launchruns]]
       script = "echo launchRuns.py ${LRUNS}"
