[meta]
   title = "OptClim Run Launcher"
[cylc]
    UTC mode = True
[scheduling]
    initial cycle point = 20220128T1419
    final cycle point = 20220128T1424
    [[dependencies]]
        [[[PT1M]]]
           graph = "@wall_clock => getruns => launchruns"
[runtime]
    [[getruns]]
       script = """
RUNS=$(getOptClimRun.py /scratch/mhagdorn/optclim/Test)
cylc broadcast $CYLC_SUITE_NAME -s "[environment]RUNS=${RUNS}"
"""
    [[launchruns]]
       script = "launchRuns.py ${RUNS}"
